:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.joke-section {
  margin: 0% 10% 0% 10%;
  text-align: center;
}
hr {
  width: 300px;
  height: 1px;
  background-color: rgb(105, 105, 105);
}

.joke-heading {
  margin-top: 6%;
  color: rgb(73, 72, 72);
}

.top-section-flex {
  display: flex;
  justify-content: space-between;
  border-bottom: solid rgb(105, 105, 105) 1px;
  background-color: rgb(183, 236, 220);
  padding: 1%;
}

.header {
  color: rgb(73, 72, 72);
}

.clock {
  color: rgb(73, 72, 72);
}

.joke-button:hover {
  background-color: rgb(183, 236, 220);
  color: black;
  border-radius: 8%;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 14px;
  height: 40px;
}
.joke-button {
  height: 40px;
  font-size: 14px;
  margin: 2%;
}

.joke {
  color: rgb(73, 72, 72);
  margin: 5%;
}
